.hide_this{
  display: none;
}


.warm-flame-gradient {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}
.basic-color{
  background-color:#A969CA;
}
.login-header{
  position: relative;
  text-align: center;
  top: -2rem;
  height: 4em;
  background-color:#A969CA;
  color:white;
}

.login-header h3{
  padding-top:.5em;
}

.login-btn{
  background-color: #A969CA;
}